---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';
// import Hero from '../components/Hero.astro';
// import Intro from '../components/Intro.astro';
// import Works from '../components/Works.astro';

const latestWorks = [
	{
		imgSrc: '/images/casa-cantares.jpg',
		name: 'Casa Cantares',
		releaseDate: '2025-10-08',
		url: 'https://casacantares.mx/',
	},
	{
		imgSrc: '/images/vives-consulting.jpg',
		name: 'Vives Consulting',
		releaseDate: '2025-08-22',
		url: 'https://vivesasociados.com/',
	},
	// {
	// 	imgSrc: '',
	// 	name: 'Vives Elevators',
	// 	releaseDate: '2025-08-08',
	// 	url: 'https://viveselevators.com/',
	// },
	{
		imgSrc: '/images/richmond-studio.jpg',
		name: 'Richmond Studio',
		releaseDate: '2024-12-10',
		url: 'https://studio.richmondsolution.com/',
	},
	// {
	// 	imgSrc: '',
	// 	name: 'Colegio La Salle Pedregal',
	// 	releaseDate: '2024-08-28',
	// 	url: 'https://sb.edu.mx/',
	// },
	{
		imgSrc: '/images/richmond-solution.jpg',
		name: 'Richmond Solution',
		releaseDate: '2024-06-07',
		url: 'https://richmondsolution.com/',
	},
	// {
	// 	imgSrc: '',
	// 	name: 'Metrópoli Patriotismo',
	// 	releaseDate: '2024-02-06',
	// 	url: 'https://metropolipatriotismo.com/',
	// },
	{
	imgSrc: '/images/cherry-bomb-creative-co.jpg',
		name: 'Cherry Bomb Creative Co.',
		releaseDate: '2023-07-03',
		url: 'https://cherrybomb.com.mx/',
	},
	{
		imgSrc: '/images/diversified-industries.jpg',
		name: 'Diversified Industries',
		releaseDate: '2023-09-25',
		url: 'https://diversifiedindustries.com/',
	},
	{
		imgSrc: '/images/the-wall-patriotismo.jpg',
		name: 'The Wall Patriotismo',
		releaseDate: '2023-05-01',
		url: 'https://thewallpatriotismo.com/',
	},
	{
		imgSrc: '/images/richmond-elt.jpg',
		name: 'Richmond ELT',
		releaseDate: '2021-10-19',
		url: 'https://richmondelt.com/',
	},
	{
		imgSrc: '/images/floormuffler.jpg',
		name: 'FloorMuffler',
		releaseDate: '2021-04-08',
		url: 'https://floormuffler.com/',
	},
];
---

<BaseLayout>
	<header class="container grid-cols-4 lg:gap-8 hero mt-20 py-10">
		<img src="/images/nrq.jpg" alt="Enrique Mendoza" class="col-start-1 col-end-3 self-top justify-self-end rounded-full justify-end w-full max-w-[16rem] max- mt-15 translate-x-8 sm:translate-x-[4vw] lg:translate-x-16 -z-1">
		<h1 class="col-start-3 col-span-2 flex flex-col items-start gap-1 lowercase font-display text-[min(12vw,6rem)] leading-[0.8] mix-blend-soft-light -translate-x-2">
			 <span class="">Enrique</span>
			 <span class="">Mendoza</span> <!-- -translate-x-[26px] -->
			 <span class="">Frontend</span>
			 <span class="">Developer</span>
		</h1>
		<div class="col-span-full sm:col-span-3 flex gap-6 flex-col items-start mt-10 sm:mt-16 lg:mt-8 lg:col-span-2">
			<p class="text-justify text-2xl tracking-[-0.062rem] indent-[min(16vw,8rem)]">Hello, I'm a web developer specializing in frontend crafting web-based experiences since 2010 — living in Mexico City, working remote.</p>
			<p class="self-end"><a href="mailto:info@nrq.me" data-href="/contact" class="btn underline underline-offset-6 text-xl">Let's create!</a></p>
		</div>
	</header>

	<section class="container works py-10">
  	<header class="mb-4 py-2">
    	<h2 class="subheading">Work</h2>
    	<!-- <a href="/works">Show more</a> -->
  	</header>
  	<p class="mb-8">Click on the image to see my work in action, it will open in a new tab.</p>
  	<div class="works_list grid gap-8 md:grid-cols-2">
    	{ latestWorks.map((work) => (
    		<a href={ work.url } target="_blank" rel="external nofollow" class="block">
    			<figure>
    				<img src={ work.imgSrc } alt="FloorMuffler">
						<figcaption class="flex justify-between mt-2 text-lg">{ work.name }</h3>
    					<time datetime={ work.releaseDate }>{ work.releaseDate?.substring(0, 4) }</time>
						</figcaption>
    			</figure>
    		</a>
    	)) }
  	</div>
	</section>
	
	<section class="container about gap-8 grid-cols-4 md:grid-cols-8 pt-10 pb-20">
  	<header class="col-span-full">
    	<h2 class="subheading">About</h2>
    	<!-- <a href="/about">Show more</a> -->
  	</header>
  	<div class="col-span-full grid grid-cols-subgrid">
  		<p class="col-span-full md:col-[1/span_6] mb-8 text-3xl text-justify">I collaborate with businesses of all sizes worldwide, implementing cutting-edge technologies.</p>
			<figure class="col-span-full sm:col-[1/span_2] md:col-[1/span_4] lg:col-[1/span_4] max-sm:mb-8 sm:mt-5.5">
  			<img src="/images/nrq-at-cherrybomb.jpg" alt="Enrique Mendoza at Cherry Bomb" class="w-full">
				<figcaption class="mt-2">*le me at <a href="https://cherrybomb.com.mx">Cherry Bomb</a>*</figcaption>
			</figure>
  		<p class="col-span-full sm:col-[5/span_4] lg:col-[5/span_3] sm:self-center text-lg">I'm dedicated to building beautiful highly functional web solutions, to achieve my clients' unique needs and long-term goals.</p>
  	</div>
	</section>
</BaseLayout>
