---
const currentYear = new Date().getFullYear();
---

<footer class=" h-svh pt-10 py-2.5 bg-zinc-800 text-zinc-300">
  <div class="container items-center h-[100%]">
    <ul class="flex gap-4 text-zinc-500">
      <li><a href="https://linkedin.com/in/nrq" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/nr1q" target="_blank">Github</a></li>
      <li><a href="https://instagram.com/nrq.me" target="_blank">Instagram</a></li>
    </ul>
    <h2 class="font-display text-3xl md:text-5xl">Curious about what we can create together? Let's bring something extraordinary to life.</h2>
    <a href="mailto:info@nrq.me" class="flex items-center justify-center uppercase w-50 h-15 mx-auto bg-primary-normal font-display text-white text-lg font-bold tracking-[2px]">Get in touch</a>
    <p class="self-end text-zinc-600 text-center">
    <small>All rights reserved | nrq.me &copy; {currentYear}</small>
    </p>
  </div>
</footer>
