---
const currentYear = new Date().getFullYear();
---

<footer style={{backgroundColor: 'black', color:'white'}}>
  <ul>
    <li><a href="https://linkedin.com/in/nrq" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/nr1q" target="_blank">Github</a></li>
    <li><a href="https://instagram.com/nrq.me" target="_blank">Instagram</a></li>
  </ul>
  <h2>Curious about what we can create together? Let's bring something extraordinary to life.</h2>
  <button type="button">Get in touch</button>
  <p>
    <small>All rights reserved | NRQ.ME &copy; {currentYear}</small>
  </p>
</footer>
