---

---

<header class="absolute top-0 left-0 right-0 container flex items-center justify-between mx-auto p-5 tracking-widest md:px-8">
  <a href="/" class="h-10 uppercase font-display font-bold text-1xl leading-10">EMFD</a>
  <button type="button" class="uppercase font-display text-1xl leading-10" data-icon="≡">[alpha_version]</button>
</header>
