---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
} = Astro.props;
---

<html lang="en">
	<head>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/FreeSans.woff2" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/woff2" href="/fonts/unytour-semi-bold-condensed.woff2" crossorigin="anonymous">
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-zinc-450 text-zinc-900">
	  <Header />
	  <main>
	    <slot />
	  </main>
	  <Footer />
	</body>
</html>
